<!--doctype html-->
<!--doctype html-->

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UploadFiles</title>

    <!-- Bootstrap -->
    {{template "estilos_ticket"}}
    <!--<link href="../Resources/Plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{template "scripts_ticket"}}
    <script type="text/javascript" src="/js/Timer/Timer.js"></script>


</head>

<body>

    {{template "cabecera_ticket"}}

    <section class="container">
        <div class="clearfix">&nbsp;</div>
        <form method="POST">
            <div class="input-group">
                
                <input type="text" id="Ticket" name="Ticket" placeholder="Ticket" value="{{.CodigoBarraTicket}}">
                <input type="textAceptarCodigo" id="Surtidor" name="Surtidor" placeholder="Surtidor" value="{{.CodigoBarraSurtidor}}">
              
            </div>
            <div class="input-group">
                <label for="Entrada" class="input-group-addon">Codigo de Barras: </label>
                <input type="text" class="form-control" id="Entrada" name="Entrada">
            </div>

            <div class="clearfix">&nbsp;</div>
            <button class="btn btn-secondary">Cancelar</button>
            <button class="btn btn-primary" id="AceptarCodigo"> Aceptar </button>
            <!--<input type="submit" value="Aceptar" id="aceptar" name="aceptar" class="btn btn-primary">-->

        </form>
        <div class="clearfix">&nbsp;</div>
    </section>

    <aside></aside>

    <footer></footer>
</body>

</html>