
<!-- ############################## <  VISTA ALTA  > #####################################-->
<!-- ############################## <  SurtidorAlta.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->
<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">		
        <title></title>
		<link rel="icon" type="image/png" href="../img/k.ico" />
<!--#################### ESTILOS GENERALES #########################-->
		{{template "styles_layout"}}
<!--#################### TUS ESTILOS ###############################-->
		
<!--#################### SCRIPTS GENERALES #########################-->
		{{template "scripts_layout"}}
<!--#################### TUS SCRIPTS #########################-->		        
    	<script src="../../Locales/Surtidor/js/Surtidor.js"></script>
<!--#################### CABECERA #########################-->
        {{template "header_layout" .SSesion }}
</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->
<body>
	
 {{template "menu_layout" }}
	<div class="col-md-10"  style="padding-bottom: 5%;" id="SeccionCuerpo">
		
		{{if .SEstado}}
			{{if .SMsj}}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}	
			
		{{else}}
			
			{{if .SMsj}}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong><h3>{{.SMsj}}</h3></strong> 
				</div>
			{{end}}
		{{end}}	

			<h1>Alta de Surtidors</h1>
			<form id="Form_Alta_Surtidor" class="form-horizontal" method="POST">


						<div class="form-group">
							<label class="col-sm-4 control-label" for="CodigoBarra">CodigoBarra:</label>
							{{if .Surtidor.ECodigoBarraSurtidor.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="CodigoBarra" id="CodigoBarra" class="form-control" value="{{.Surtidor.ECodigoBarraSurtidor.CodigoBarra}}" aria-required="true" aria-describedby="CodigoBarra-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="CodigoBarra-error" class="error help-block">{{.Surtidor.ECodigoBarraSurtidor.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="CodigoBarra" id="CodigoBarra" class="form-control" value="{{.Surtidor.ECodigoBarraSurtidor.CodigoBarra}}">
								</div>  
							{{end}}
						</div>
					
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Usuario">Usuario:</label>
							{{if .Surtidor.EUsuarioSurtidor.IEstatus}}
								<div class="col-sm-5 has-feedback has-error">
									<input type="text" name="Usuario" id="Usuario" class="form-control" value="{{.Surtidor.EUsuarioSurtidor.Usuario}}" aria-required="true" aria-describedby="Usuario-error" aria-invalid="true">
									<span class="glyphicon form-control-feedback glyphicon-remove"></span>
									<em id="Usuario-error" class="error help-block">{{.Surtidor.EUsuarioSurtidor.IMsj}}</em>
								</div>
							{{else}}
								<div class="col-sm-5">
									<input type="text" name="Usuario" id="Usuario" class="form-control" value="{{.Surtidor.EUsuarioSurtidor.Usuario}}">
								</div>  
							{{end}}
						</div>
					

			
				<div class="form-group">
					<div class="col-md-9 text-right">
						<button type="button" onclick="window.location.href = '/Surtidors';" class="btn btn-default btn-lg">Index</button>
						<button type="submit" class="btn btn-primary btn-lg">Guardar</button>
					</div>
				</div>
		</form>
	</div>
</body>

<footer>

	{{template "footer_layout"}}
    
</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->
</html>
